.article{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-family: Times New Roman;
}

.article_h1{
    margin-left: -35px;
}

.article_h2{
    margin-left: -25px;
}

.article_h3{
    margin-left: -20px;
}

.article_h4{
    margin-left: -15px;
}

.article_table_of_content{
    padding: 10px;
    width: max-content;

    background-color: #FFF8E0;
    border: 2px solid black;  /* Параметры рамки */
    border-radius: 10px;
    border-color: #000000;
}

.comment{
    background-color: #FFF8E0;
    border: 1px solid black;  /* Параметры рамки */
    border-radius: 10px;
    border-color: #000000;
}

.comment_p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment_btn_answer{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment_input_text{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
