element {
    font1: Calibri;
}

.article{


    text-align: justify;
    font-family: Times New Roman;
}

.container1 {

}


@media screen and (min-width: 800px) {
    .article_table_of_contents_div_large {
        position:sticky;
        left:5px;
        top:3%;
        width: 17%;
    }

    .article_table_of_contents_large{
        display: inline-block;


        font-family: Calibri;

        padding: 10px;

        background-color: #FFF8E0;
        border: 2px solid black;  /* Параметры рамки */
        border-radius: 10px;
        border-color: #000000;
    }

    .article_main_part_large{
         display: inline-block;
         width: 70%;
         margin-right: 3%;
         margin-down: 10px;
     }

     .article_h1{
         margin-left: -4%;
         font-family: Calibri;
     }

     .article_h2{
         margin-left: -3%;
         font-family: Calibri;
     }

     .article_h3{
         margin-left: -2.5%;
         font-family: Calibri;
     }

     .article_h4{
         margin-left: -2%;
         font-family: Calibri;
     }

}

@media screen and (max-width: 800px) {
    .article_table_of_contents_div_small {
        padding: 4%;
    }
    .article_table_of_contents_small{
        width: 95%;

        font-family: Calibri;

        padding: 10px;

        background-color: #FFF8E0;
        border: 2px solid black;  /* Параметры рамки */
        border-radius: 10px;
        border-color: #000000;
    }

    .article_main_part_small{
        padding: 4%;

     }
}



.comment{
    font-family: Calibri;
    background-color: #FFF8E0;
    border: 1px solid black;  /* Параметры рамки */
    border-radius: 10px;
    border-color: #000000;
}

.comment_p{
    font-family: Calibri;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment_btn_answer{
    font-family: Calibri;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment_input_text{
    font-family: Calibri;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
