<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TeamBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/article.css" th:href="@{/css/article.css}" rel="stylesheet" />
</head>
<body id="article" class="main article">
    <div th:insert="blocks/header :: header"></div>
    <div th:insert="'articles/' + ${name} :: ${name}"></div>

    <div style="text-align: left;">
        <h2 class="article_h2">Тест</h2>
        Пройдите небольшой <a th:href="'/test/' + ${name}">тест</a>, чтобы закрепить материал.
    </div>

    <div style="text-align: left;">
        <h2 class="article_h2">Комментарии</h2>
        <script th:inline="javascript">
            var comments = /*[[${comments}]]*/;
            var articleName = /*[[${name}]]*/;
        </script>
        <script src="../static/js/articleComments.js" th:src="@{/js/articleComments.js}"></script>
    </div>

</body>
</html>