<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/article.css" th:href="@{/css/article.css}" rel="stylesheet" />
</head>
<body class="main">
    <div th:insert="blocks/header :: header"></div>

    <div th:insert="'articles/' + ${name} :: ${name}"></div>

    <a href="'/test/' + ${name}" class="article">Тест</a>
</body>
</html>