<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .question {
        margin-bottom: 30px;
    }
    .answer {
        margin-bottom: 10px;
        width: 200px;
    }
    .textInput {
        width: 200px;
    }
    .correct {
        background-color: #92FF8E;
    }
    .incorrect {
        background-color: #FF6B6B;
    }
</style>
<body id="test">
</body>
<script th:inline="javascript">
    let questions = /*[[${questions}]]*/;
    let answers = /*[[${answers}]]*/;
</script>
<script>
    test = document.querySelector('#test');

    let id = 1;
    let question2Index = 0;

    for(let el of questions) {
        if(el.article_name == '[[${name}]]') {
            let div = document.createElement('div');
            div.classList.add('question');
            test.appendChild(div);

            let p = document.createElement('p');
            p.innerHTML = id + '. ' + el.text;
            id++;
            div.appendChild(p);

            if(el.type == 1) {
                let input = document.createElement('input');
                input.dataset.right = el.right_answer;
                div.appendChild(input);
                input.classList.add('textInput');
            }
            else if(el.type == 2) {
                let answerIndex = 0;
                for(let answer of answers) {
                    if(answer.question_id == el.id) {
                        let divAnswer = document.createElement('div');
                        divAnswer.classList.add('answer');
                        div.appendChild(divAnswer);

                        let radio = document.createElement('input');
                        radio.type = 'radio';
                        radio.name = question2Index;
                        radio.classList.add('radio');
                        divAnswer.appendChild(radio);

                        let label = document.createElement('label');
                        label.innerHTML = answer.text;
                        divAnswer.appendChild(label);

                        if(answerIndex == el.right_answer)
                            radio.dataset.isCorrect = '1';
                        else radio.dataset.isCorrect = '0';

                        answerIndex++;
                    }
                }
                question2Index++;
            }
        }
    }

    button = document.createElement('button');
    button.id = 'button';
    button.innerHTML = 'Проверить';
    test.appendChild(button);
</script>
<script>
    button = document.querySelector('#button');

    button.addEventListener('click', function() {
        let textInputs = document.querySelectorAll('#test input.textInput');

        for(let input of textInputs) {
            input.classList.remove('correct');
            input.classList.remove('incorrect');

            if(input.value == input.dataset.right) {
                input.classList.add('correct');
            }
            else {
                input.classList.add('incorrect');
            }
        }

        let radioInputs = document.querySelectorAll('#test input.radio');

        for(let input of radioInputs) {
            input.parentElement.classList.remove('correct');
            input.parentElement.classList.remove('incorrect');

            if(input.checked) {
                if(input.dataset.isCorrect == '1')
                    input.parentElement.classList.add('correct');
                else input.parentElement.classList.add('incorrect');
            }
        }
    });
</script>
</html>