<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom main_font">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img th:src="@{/images/TeamBook.png}" alt="TeamBook" width="100" height="75"/>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

                <li><a href="/" class="nav-link px-2 link-secondary"><h2>Статьи</h2></a></li>
                <li><a href="/tests" class="nav-link px-2 link-secondary"><h2>Тесты</h2></a></li>
            </ul>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/login" id="loginLink" class="nav-link" th:text="${login}"></a></li>
                <li><a href="/new-user" id="registerLink" class="nav-link" hidden="true">Зарегистрироваться</a></li>
                <li><a href="/logout" id="logoutLink" class="nav-link">Выйти</a></li>
            </ul>
            <script>
                let loginLink = document.getElementById('loginLink');

                if(loginLink.text == '')
                {
                    let registerLink = document.getElementById('registerLink');
                    let logoutLink = document.getElementById('logoutLink');

                    registerLink.hidden = false;
                    logoutLink.hidden = true;
                    loginLink.text = 'Войти';
                }
            </script>
        </header>
    </div>
</div>