<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0">
                <a href="/" class="nav-link px-2 link-secondary">
                    <img th:src="@{/images/TeamBook.png}" alt="TeamBook" width="100" height="75"/>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

                <li><a href="/" class="nav-link px-2 link-secondary"><h2>Статьи</h2></a></li>
                <li><a href="/tests" class="nav-link px-2"><h2>Тесты</h2></a></li>
            </ul>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

            </ul>
        </header>
    </div>
</div>