<div th:fragment="dfs">
    <h1 class="article_h1"> Обход в глубину </h1>
    <style type="text/css">
      #drawing {
         border: 3px solid #000;
         display: inline-block;
         margin: 0 auto;
      }
      .form {
        display: inline-block;
        vertical-align: top;
        width: 400px;
      }
      .input {
        width: 50px;
      }
    </style>

    <h2 class="article_h2" id="prerequisites">Предварительные требования к читателю</h2>
    <ul>
        <li>Понятие графа</li>
        <li>Рекурсивные функции</li>
        <li>Массивы с возможностью добавления новых элементов (например, vector в C++)</li>
    </ul>

    <h2 class="article_h2" id="problem">Постановка задачи</h2>
    Граф - это набор вершин, некоторые пары которых соединены рёбрами. Графы могут быть ориентированными
    (рёбра имеют направление) или неориентированными (рёбра двусторонние).
    <p>Рассмотрим следующую задачу: дан граф, нужно найти все его вершины, до которых можно добраться по рёбрам из данной.

    <h2 class="article_h2" id="algorithm">Описание алгоритма</h2>
    Обход графа в глубину (DFS, depth first search) работает следующим образом:
    <ul>
        <li>Для стартовой вершины отметим, что она посещена</li>
        <li>Переберём все вершины, в которые можно прийти из данной по одному ребру</li>
        <li>Если в этом переборе встречается ещё не посещённая вершина, запускаем обход из неё</li>
    </ul>

    <h2 class="article_h2" id="visualization">Визуализация алгоритма</h2>

    <form class="form">
        <button type="button" id="btnDeleteGraph">Удалить граф</button>
        <button type="button" id="btnLoadExample">Загрузить пример</button><br>
        <input hidden type="file" accept=".txt" id="fileInputOpen" onchange="handleFilesOpen(this.files);">
        <button type="button" class="mt-4"
                onclick="document.getElementById('fileInputOpen').click();console.log('open');">Открыть</button>
        <button type="button" id="btnSave">Сохранить</button>
        <a download="graph.txt" hidden id="linkSave"></a><br>
        <input type="radio" class="mt-4" name="1" id="radioDirected" checked="true">
        <label for="radioDirected">Ориентированный граф</label><br>
        <input type="radio" name="1" id="radioUndirected">
        <label for="radioUndirected">Неориентированный граф</label><br>
        <button class="mt-4" type="button" id="btnAddVertex">Добавить вершину</button><br>
        <input class="input mt-4" type="text" id="txtDeleteVertex" value="1">
        <button type="button" id="btnDeleteVertex">Удалить вершину</button><br>
        <input class="input mt-4" type="text" id="txtAddEdge1" value="1">
        <input class="input" type="text" id="txtAddEdge2" value="3">
        <button type="button" id="btnAddEdge">Добавить ребро</button><br>
        <input class="input mt-4" type="text" id="txtDeleteEdge1" value="1">
        <input class="input" type="text" id="txtDeleteEdge2" value="2">
        <button type="button" id="btnDeleteEdge">Удалить ребро</button><br>
        <input class="input mt-4" type="text" id="txtDfs" value="1">
        <button type="button" id="btnDfs">Запустить DFS</button><br>
    </form>
    <canvas id="drawing" width="600" height="500">Ошибка</canvas>
    <script src="../static/js/dfsVisualization.js" th:src="@{/js/dfsVisualization.js}"></script>

    <h2 class="article_h2" id="storing">Хранение графа</h2>
    Самый сложный шаг в алгоритме - перебрать все вершины, достижимые из данной по одному ребру.
    Будем хранить граф в виде списка смежности: для каждого элемента будем хранить все смежные с ним (т.е. достижимые по одному ребру).
    В С++ создание списка смежности можно реализовать следующим образом:

    <!-- <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">vector<span style="color: #333333">&lt;</span><span style="color: #333399; font-weight: bold">int</span><span style="color: #333333">&gt;</span> p(n <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>, <span style="color: #0000DD; font-weight: bold">0</span>);
    <span style="color: #008800; font-weight: bold">for</span>(<span style="color: #333399; font-weight: bold">int</span> i <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">0</span>; i <span style="color: #333333">&lt;</span> n; i<span style="color: #333333">++</span>)
    p[i <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>] <span style="color: #333333">=</span> p[i] <span style="color: #333333">+</span> a[i];
    </pre></div> --->
    <pre><code class="language-cpp">
        const int N = 1e5 + 5;
        vector &ltint> g[N]; // для каждой вершины будем хранить вектор смежных с ней
        ...
        int n, m; // число вершин и число рёбер
        cin >> n >> m;

        for(int i = 0; i < m; i++) {
            int u, v; // считываем ребро
            cin >> u >> v;

            u--; // обычно во входных данных рёбра нумеруются с 1
            v--; // а в программе с 0

            g[u].push_back(v); // добавляем конец ребра в список для начала ребра
            // для неориентированных графов также нужно g[v].push_back(u);
        }
    </code></pre>

    <h2 class="article_h2" id="implementation">Реализация алгоритма</h2>
    <!-- <div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">vector<span style="color: #333333">&lt;</span><span style="color: #333399; font-weight: bold">int</span><span style="color: #333333">&gt;</span> p(n <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>, <span style="color: #0000DD; font-weight: bold">0</span>);
    <span style="color: #008800; font-weight: bold">for</span>(<span style="color: #333399; font-weight: bold">int</span> i <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">0</span>; i <span style="color: #333333">&lt;</span> n; i<span style="color: #333333">++</span>)
    p[i <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>] <span style="color: #333333">=</span> p[i] <span style="color: #333333">+</span> a[i];
    </pre></div> --->
    <pre><code class="language-cpp">
        const int N = 1e5 + 5;

        bool used[N]; // посещена ли вершина
        vector &ltint> g[N];

        void dfs(int v) {
            used[v] = true;

            for(auto to:g[v]) {
                if(!used[to])
                    dfs(to);
            }
        }
    </code></pre>

    <h2 class="article_h2" id="applications">Применения</h2>
    <ul>
        <li>Поиск пути от одной вершины до другой. Чтобы восстановить путь, по которому алгоритм пришёл в некоторую вершину,
        для каждой вершины будем хранить предка - вершину, из которой алгоритм пришёл в данную.
        Тогда для восстановления пути из вершины \(s\) в вершину \(t\) нужно из вершины \(t\) идти в
        предка, пока не придём в вершину \(s\). Получится путь в обратном порядке.</li>
        <li>Поиск компонент связности. Компонента связности в неориентированном графе - это область,
        вершины которой достижимы друг из друга по рёбрам (и в которую нельзя добавить ещё одну вершину с сохранением этого свойства).
            Если запустить обход в глубину из одной вершины, то он обойдёт всю её компоненту связности.</li>
    </ul>

</div>