<div th:fragment="prefix_sums">
    <h1 class="article_h1"> Префиксные суммы </h1>
    <h2 class="article_h2">Предварительные требования к читателю</h2>
    Базовые знания языка(включая массивы)
    Понятие асимптотики времени работы алгоритмов
    <h2 class="article_h2">Содержание</h2>
    <ol>
        <li><a href="#problem">Постановка задачи</a></li>
        <li><a href="#simple solution">Очевидное решение</a></li>
        <li><a href="#idea">Идея</a></li>
        <li><a href="#algorithm">Алгоритм</a></li>
        <li><a href="#example">Пример построения и ответа на запрос</a></li>
        <li><a href="#realization">Реализация</a></li>
        <li><a href="#applications">Применения</a></li>
    </ol>
    <h2 class="article_h2" id="problem">Постановка задачи</h2>
    Есть массив a состоящий из <span class="math inline"><em>n</em></span> целых чисел. Нужно ответить на <span class="math inline"><em>q</em></span>
    запросов вида: посчитать сумму элементов с номера <span class="math inline"><em>l</em></span> по номер <span class="math inline"><em>r</em></span>.
    <h2 class="article_h2" id="simple solution">Очевидное решение</h2>
    Если напрямую суммировать эти элементы и отвечать на запросы, делая ровно то, что написано в условии, то каждый запрос будет делать количество операций суммирования,
    равное количеству элементов отрезка, что в худшем случае равно <span class="math inline"><em>n</em></span>. Таким образом, это решение будет делать <span class="math inline"><em>O(n)</em></span> действий.
    <h2 class="article_h2" id="idea">Идея</h2>
    Мы производим много повторяющихся действий, хотелось бы быстрее считать сумму последовательных элементов. Заметим, что сумма на подотрезке является разностью суммы
    на всем отрезке и одного или двух других подотрезков.
    <h2 class="article_h2" id="algorithm">Алгоритм</h2>
    Рассмотрим систему отрезков состоящую из пустого отрезка, первого элемента массива, первых двух элементов,
    первых трех и т.д. Теперь заметим, что для любого подотрезка изначального массива, сумма на нем равна разности сумм двух отрезков из этой системы. Если быть более
    точным, то разностью отрезка заканчивающемся в самом правом элементе отрезка запроса и отрезка заканчивающемся в самом правом элементе до отрезка запроса. Таким
    образом, зная суммы на каждом из этих отрезков можно отвечать на запросы при помощи одной операции разности. Суммы на отрезках этой системы и будем называть
    префиксными суммами.
    <h2 class="article_h2" id="example">Пример построения и ответа на запрос</h2>
    Возьмем массив <span class="math inline"><em>a</em> = [4,3,−2,5,10]</span>. Префиксные суммы запишем в массив <span class="math inline"><em>p</em></span>.
    Префиксная сумма <span class="math inline"><em>p</em>[<em>i</em>]</span> будет соответствовать сумме первых <span class="math inline"><em>i</em></span> элементов.
    <span class="math inline"><em>p</em> = [0,4,7,5,10,20]</span>. Для запроса <span class="math inline"><em>l</em> = 2</span>,
    <span class="math inline"><em>r</em> = 4</span> ответ равен: <span class="math inline"><em>p</em>[4] − <em>p</em>[1] = 10 − 4 = 6 = 3 + (−2) + 5</span>.<br>
    <h2 class="article_h2" id="realization">Реализация</h2>
    <h4 class="article_h4">Вариант с <span class="math inline"><em>n</em></span> элементами</h4>
    /// ВСТАВЬТЕ ЗДЕСЬ СВОЮ РЕАЛИЗАЦИЮ \\\
    <h4 class="article_h4">Вариант с <span class="math inline"><em>n</em> + 1</span> элементами</h4>
    /// ВСТАВЬТЕ ЗДЕСЬ СВОЮ РЕАЛИЗАЦИЮ \\\
    <h2 class="article_h2" id="applications">Применения</h2>
    Помимо суммы на подотрезке, можно аналогично выполнять любые операции соответствующие правилу <span class="math inline"><em>a</em> + <em>b</em> = <em>c</em> → <em>b</em> = <em>c</em> − <em>a</em></span>,
    где "+" это прямая операция, а "-" &mdash; обратная к ней. Примерами может послужить операция умножения(обратная &mdash; деление) и операция побитового исключающего или(XOR)(обратная &mdash; тоже XOR).

</div>